################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/1cf204d4-09ad-4930-9b81-fecd586895a6.vsidx
