################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/1cf204d4-09ad-4930-9b81-fecd586895a6.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/2150283c-abd3-40d7-8f4d-de389c060a3f.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/85dda383-4706-4e7b-bc44-fc9ec53fa948.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/89242a72-49fe-4dd0-ab51-31c1a4720420.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/a7ddd31d-8e6d-472d-84b7-073c1716bbf6.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/ef8d2f74-fcfb-4593-9252-9f4e7984b1da.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/1f6292bb-0b21-426d-ae80-0a5043ed5762.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/3e9dc97e-f73d-4c96-973d-78e7958a2090.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/449c7c28-34f5-4ad8-8b02-8ddc7e7587ac.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/5ddfb722-4426-4ed0-ac17-9345a3f277be.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/9f417bd4-6a41-4f7f-a1c4-f3ea7f8272be.vsidx
