################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/1cf204d4-09ad-4930-9b81-fecd586895a6.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/2150283c-abd3-40d7-8f4d-de389c060a3f.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/85dda383-4706-4e7b-bc44-fc9ec53fa948.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/89242a72-49fe-4dd0-ab51-31c1a4720420.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/a7ddd31d-8e6d-472d-84b7-073c1716bbf6.vsidx
/C# Advanced Final Project/.vs/C# Advanced Final Project/FileContentIndex/ef8d2f74-fcfb-4593-9252-9f4e7984b1da.vsidx
